<h2>Мои проекты</h2>
<div class="list">
  <app-project-card projectName="TagReporterRZ" [pictures]="TRPictures">
    <p>
      Компания: АО "Доминанта-Сервис"<br />
      Веб-приложение, которое создаёт отчёты по температурным датчикам в виде
      XLSX файла.<br />
      Стек - ASP.NET Core Blazor + Radzen
    </p>
  </app-project-card>
  <app-project-card projectName="BgBudget" [pictures]="bgBudgetPictures">
    <p>
      Компания: АО "Доминанта-Сервис"<br />
      Веб-приложение, отображающий бюджет компании. Есть возможность менять
      язык<br />
      Стек - Spring Boot в качестве бэкенда (REST API), Angular + Angular
      Material на фронте.<br />
      Для авторизации пользователей используется готовое решение Keycloak
    </p>
  </app-project-card>
</div>
