.card {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 1.25em;
  font-weight: 600;
}

img {
  object-fit: contain;
  height: 100%;
}

.image-description {
  display: flex;
  font-style: italic;
  justify-content: center;
  margin-bottom: 1em;
}

.image-container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  height: 240px;
}