<h2 class="profile-title">О себе</h2>
<div class="description">
  Меня зовут <b>Ан</b>. Мне <b>{{ getYearOld() }}</b
  >. Живу в Ульяновске. Учился в Ульяновском государственном техническом
  университете (УлГТУ) на специальность "Информационные системы и технологии".
  Начал программировать с 16 лет с книги "Язык программирования С" Б.В.
  Керниган, Д.М. Ричи. Также программированию учился сам по статьям от ресурсов
  посвященных программированию. Нравится изучать новые технологии в IT сфере.
  Люблю читать статьи и новости с Хабра. В основном пишу на ЯП Java и Typescript
  (на Angular-е) <br />
  При написании програм придерживаюсь таких правил:
  <ul>
    <li>
      Писать простой код с понятными названии переменных, методов, функции
    </li>
    <li>Использовать готовые решения по мере возможностей</li>
    <li>
      Сложные участки кода комментировать либо переносить в отдельный
      метод/функцию
    </li>
  </ul>
  Знаком с языками программирования:
  <ul>
    <li>C/C++</li>
    <li>Go</li>
    <li>C#</li>
    <li>Java</li>
    <li>Javascript/Typescript</li>
    <li>Rust</li>
  </ul>
</div>
<div class="workplaces">
  <h4>Места работы</h4>
  <ul>
    <li>АО "Доминанта-сервис" - с октября 2019 до августа 2022</li>
  </ul>
</div>

<div class="refs">
  <h4 style="margin: 0">Ссылки</h4>
  <ul>
    <li><a href="https://github.com/an-nguen">GitHub</a></li>
    <li><a href="https://gitlab.com/an-ng">GitLab</a></li>
    <li><a>HeadHunter</a></li>
  </ul>
</div>
