$default-padding: 15vh;
$default-mobile-padding: 2em;
$default-font-size: 16px;

.app-bar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-direction: row;
  align-items: center;

  height: 64px;
  padding: 0 $default-padding;
  background-color: #d9ddde;
  scroll-behavior: unset;
  overflow: hidden;
}


.title {
  font-size: 24px;
  font-weight: 500;
}

.main {
  line-height: 1.5em;
  letter-spacing: 0.03em;
  font-size: $default-font-size;
  padding: 0.5em $default-padding;
}


@media (max-width: 640px) {
  .app-bar {
    padding: 0 $default-mobile-padding;
  }
  .main {
    padding: 0.5em $default-mobile-padding;
  }
}
