<!-- <div class="app-bar">
  <a routerLink="">
    <span class="title" style="display: flex; align-items: center">
      MY_PORTFOLIO
    </span>
  </a>
  <div class="spacer"></div>
  @if (!isSmallScreen()) {
    <a routerLink="/projects" class="app-nav-link">
      <span>Мои проекты</span>
    </a>
  } @else {
    <button class="menu-button" [cdkMenuTriggerFor]="navMenu">
      <fa-icon [icon]="menuIcon"></fa-icon>
    </button>
  }
  <ng-template #navMenu>
    <div class="nav-menu" cdkMenu>
      <button class="nav-menu-item" routerLink="projects" cdkMenuItem>
        Мои проекты
      </button>
    </div>
  </ng-template>
</div> -->
<app-image-viewer-container></app-image-viewer-container>
<div class="main">
  <router-outlet></router-outlet>
</div>
