<div class="description">
  <div class="personal-card">
    <div class="main">
      <pre><code [highlight]="code" language="typescript">
      </code></pre>

      <div class="code-block">
        <pre><code highlight="const repos = [" language="typescript"></code></pre>
        @for (repo of REPOS; track $index) {
          <pre><code class="hljs">  {{ "{" }} <span class="hljs-attr">name</span>: "<img class="icon" [src]="repo.icon" alt="No image"/>{{ repo.name }}", <span class="hljs-attr">link</span>: "<a [href]="repo.link">{{ repo.link }}</a>" {{ "}," }}</code></pre>
        }
        <pre><code highlight="];" language="typescript"></code></pre>
      </div>

      <a class="interactive" (click)="contactMe()">
        <div class="code-block">
          <pre><code [highlight]="contactMeCode" language="typescript">
        </code></pre>
        </div>
      </a>
    </div>
  </div>
</div>