:root {
  --text-color: #abb2bf;
  --bg-color: #282c34;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  font-family: "JetBrains Mono", "Cascadia Mono", monospace !important;
}