<h2>Мои проекты</h2>
<div class="list">
  <app-project-card projectName="TagReporterRZ" [pictures]="tagRprtPics">
    <p>
      Компания: АО "Доминанта-Сервис"<br />
      Веб-приложение, которое создаёт отчёты по температурным датчикам в виде XLSX файла.<br />
      Стек - ASP.NET Core Blazor + Radzen.<br />
      Git-репозиторий - <a href="https://github.com/an-nguen/TagReporterRZ">Ссылка</a>
    </p>
  </app-project-card>
  <app-project-card projectName="BgBudget" [pictures]="bgBudgetPictures">
    <p>
      Компания: АО "Доминанта-Сервис"<br />
      Веб-приложение, отображающий бюджет компании. Есть возможность менять язык<br />
      Стек - Spring Boot в качестве бэкенда (REST API), Angular + Angular
      Material на фронте.<br />
      Для авторизации пользователей используется готовое решение Keycloak.<br />
      Ссылки на git-репозиторий:
    </p>
    <ul>
      <li>
        <a href="https://gitlab.com/an-ng/ng-rev-expnd-budget-bg-trading-app">Frontend</a>
      </li>
      <li>
        <a href="https://gitlab.com/an-ng/dsrestservice">Backend</a>
      </li>
    </ul>
  </app-project-card>
</div>
